* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.entire_nav {
    background-color: black;
    min-height: 80px;     
}

.nav_bar {
    background-color: black;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    min-height: 80px; 
    width: 900px;
}


#profile_bar {
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    gap: 1.5em;
    color: white;
}

button {
    width: 80px;
    height: 25px;
    background-color:cornflowerblue;
    color: white;
}

.entire_page {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    min-height: 80px;
    width: 900px;
    gap: 2em;
}

.left_side {
    /* width already decided based on flex 2 */
    flex: 2;
    height: 632px;
}



#education {
    /* width already decided based on flex 2 of parent */
    background-color: purple;
    height: 182px;
    margin-top: 40px;
}

.right_side {
    /* width already decided based on flex 1*/
    flex: 1;
    height: 632px;
}

#connection_req {
    background-color: white;
    height: 207px;
    margin-top: 30px;
    border: black 2px solid;
    /* outline border is not working, need to figure out why. fixed it*/
    /* width already decided based on flex 1 of parent */
    /* height needs to add up to parent height (right side) with #your_connect */
}

#top {
    background-color:darkslategray;
    display: flex;
    height: 45px;
    align-items: center;
    justify-content: space-evenly; 
}

#plus_button {
    font-size: 18px;
    color:black;
    background-color:grey;
    border-radius: 63%;
    text-align: center;
    width: 32px;
    height: 32px;
    border: 0px;
}

.top_request {
    color: grey;
}



.conn_req_user {
    display: flex;
    align-items: center;
    margin-top: 20px;
    justify-content:space-between;
    margin-left: 8px;
}


.pic {
    height: 45px;
    width: 45px;
}

.ok_button {
    width: 40px;
    margin-left: 60px;
    height:30px;

}

.x_button {
    width: 40px;
    height:30px;
    margin-left: 5px;
}

#your_connect {
    height: 345px;
    margin-top: 35px;
    margin-bottom: 15px;
    flex-direction: column;
    display: flex;
    /* width already decided based on flex 1 of parent */
    /* height needs to add up to parent height (right side) with #coonect_req */
}

#top2 {
    background-color:darkslategray;
    display: flex;
    height: 50px;
    align-items: center; 
    justify-content: space-evenly; 
}

#plus_button2{
    font-size: 18px;
    color:black;
    background-color:grey;
    border-radius: 63%;
    text-align: center;
    width: 50px;
    height: 32px;
    border: 0px;
}

#middle {
    height: 260px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border: black 2px solid;
}

.user {
    display: flex;
    align-items: center;
    margin-top: 20px;
    justify-content:space-evenly;
    padding-left: 20px;
    margin-bottom: -5px;
    gap: 1.5em;
}

#bottom2 {
    align-items: center;
    display: flex;
    height: 30px;
    border: black 2px solid;
}


#bottom2 a{
    height: 30px;
    padding-top: 6px;
    padding-left: 22px;
}

#main_card {
    margin: 0 auto;
    height: 350px; 
    outline: black solid;
    margin-top: 35px; 
    display: flex;
    flex-direction: column;
}

#header {
    height: 120px;
    background-color: green;
    
}

.card {
    height: 450px;
    margin-left: 30px; 
    position: absolute;
}

#profile {
    width: 100px;
    height: 100px;
    position:relative;
    top: 65px;
}

#pro_name{
    margin-top: 75px;
}

#gear {
    width: 15px;
    height: 15px;
    margin-right: 10px;
}

#marker {
    width: 12px;
    height: 18px;
    margin-right: 10px;
}


#loc {
    display: flex;
    margin-right: 10px;
    margin-top: 10px;
}

#link {
    display: flex;
    margin-top: 8px;
}

#text {
    margin-top: 10px;
}   

#education {
    margin-top: 30px;
    align-items: center;
    border: black 2px solid;
}

#topbar {
    height: 45px;
    background-color: grey;
    border: black 1px solid;
    align-items: center; 
}

#topbar h2 {
    margin-left: 15px;
    margin-top: 5px;
}

#writing {
    margin-left: 15px;
    margin-top: 10px;
    line-height: 1.5;
}
